.banner {
    background-image: url("https://img.goodfon.ru/wallpaper/big/a/bd/yuriy-gagarin-kosmonavt-letchik.webp");
    width: 100%;
    height: auto;
    min-height: 380px;
    background-repeat: no-repeat;
    background-position: center;
}