.banner {
    background-image: url("https://img.goodfon.ru/wallpaper/big/9/3b/iurii-gagarin-sssr-kosmicheskii-polet-muzhchina-ulybka-skafa.webp");
    width: 100%;
    height: auto;
    min-height: 416px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 416px auto;
}